apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: openstack

resources:
  # Base OpenStackControlPlane from upstream or local template
  - ../../out/openstack/cr.yaml

patches:
  # Patch service annotations to use openstack-prefixed MetalLB pools
  - target:
      kind: OpenStackControlPlane
      name: .*
    patch: |-
      - op: replace
        path: /metadata/name
        value: openstack-galera-network-isolation

      # DNSMasq ctlplane pool
      - op: add
        path: /spec/dns/template/override
        value:
          service:
            metadata:
              annotations:
                metallb.universe.tf/address-pool: openstack-ctlplane
                metallb.universe.tf/allow-shared-ip: openstack-ctlplane

      # Keystone internal API
      - op: add
        path: /spec/keystone/template/override
        value:
          service:
            internal:
              metadata:
                annotations:
                  metallb.universe.tf/address-pool: openstack-internalapi
                  metallb.universe.tf/allow-shared-ip: openstack-internalapi

      # Glance internal API
      - op: add
        path: /spec/glance/template/glanceAPIs/default/override
        value:
          service:
            internal:
              metadata:
                annotations:
                  metallb.universe.tf/address-pool: openstack-internalapi
                  metallb.universe.tf/allow-shared-ip: openstack-internalapi

      # Placement internal API
      - op: add
        path: /spec/placement/template/override
        value:
          service:
            internal:
              metadata:
                annotations:
                  metallb.universe.tf/address-pool: openstack-internalapi
                  metallb.universe.tf/allow-shared-ip: openstack-internalapi

      # Neutron internal API
      - op: add
        path: /spec/neutron/template/override
        value:
          service:
            internal:
              metadata:
                annotations:
                  metallb.universe.tf/address-pool: openstack-internalapi
                  metallb.universe.tf/allow-shared-ip: openstack-internalapi

      # Nova API internal
      - op: add
        path: /spec/nova/template/apiServiceTemplate/override
        value:
          service:
            internal:
              metadata:
                annotations:
                  metallb.universe.tf/address-pool: openstack-internalapi
                  metallb.universe.tf/allow-shared-ip: openstack-internalapi
